{
  "extends": ["standard", "plugin:prettier/recommended"],
  "plugins": [
    "json"
  ],
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "firebase": "readonly"
  }
}