html, body, pre, code, kbd, samp {
    font-family: "Press Start 2P";
}

body {
    color: black;
    margin: 10px;
}

#details {
    display: none;
    background-color: green;
    color:white;
    font-style: italic;
}

#peliculas{
    margin-top: 36px;
}

button{
}

.movie{
}