html, body, pre, code, kbd, samp {
    font-family: "Press Start 2P";
}

body {
    color: black;
    margin: 10px;
}

.app-title {
    font-size: 24px !important;
}

.movie {
    display: flex;
    justify-content: space-between;
    margin: 8px;
}

.movie p{
    margin: 14px;
}

.movie .btns_container {
    margin-right: auto;
}



#details {
    display: none;
    background-color: green;
    color:white;
    font-style: italic;
}

#peliculas{
    margin: 36px 0;
}

hr{
    border: 2px solid black;
}